@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  
  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }
  .skeleton{
    background: linear-gradient(90deg, rgba(240,240,240,1) 25%, rgba(225,225,225,1) 37%, rgba(240,240,240,1) 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease-in-out infinite;
  }
  @keyframes shimmer{
    0%{background-position: 100% 0}
    100%{background-position: -100% 0}
  }
